package main

import (
	"aoc2023/util"
	"fmt"
)

func main() {
	input := util.ReadDay({{.Day}})

	fmt.Println(part1(input))
	// fmt.Println(part2(input))
}

func part1(input []string) int {
	return 0
}

func part2(input []string) int {
	return 0
}
